.about{
    display: flex;
    padding: 20px;
    height: 800px;
}

.container-informacoes{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.informacoes, .about h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E2E2B6;
    position: relative;
    z-index: -1;
    flex-direction: column;
    
}

.informacoes .texto{
    padding: 10px 10px 3px 25px;
    font-size: 1.3rem;
    text-align: justify;
    font-weight: bold;
    line-height: 2.2em;
    margin-top: 10px;
}

.about h1{
    justify-content: center;
    font-size: 5rem;
    font-weight: bolder;
}

.contato{
    display: flex;
    color: #E2E2B6;
    justify-content: center;
    bottom: 5em;
    margin-top: 5em;
}