*{
    font-family: Montserrat, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-transform: uppercase;
}

body{
    height: 1500px;
    padding-top: 160px;
    background-color: #021526;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 160px;
    align-items: center;
    border-bottom: 1.3px black solid ;
    position: fixed;
    width: 100%;
    background-color: #021526;
    top: 0;
    z-index: 1;
}

.logo{
    height: 50px;
}

.menu ul, .redes ul{
    display: flex;
    flex-direction: row;
}

.menu li, .redes li{
    color: #6EACDA;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
}

.redes li{
    font-size: 35px;
}

.redes ul li{
    cursor: pointer;
    margin: 20px;
    padding: 25px;
}


.menu a{
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    color: #6EACDA;
}

.menu a:visited{
    color: #6EACDA;
}

.menu a:active{
    color: grey;
}

a:hover{
    color: #E2E2B6;
    transition: 0.6s;
    font-size: 32px;
}

.fa-x-twitter:hover, .fa-behance:hover, .fa-linkedin:hover, .fa-instagram:hover{
    color: #E2E2B6;
    transition: 0.6s;
    transform: scale(1.3)
}