.projeto {
    color: #ffffff;
    padding: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.projeto h1 {
    text-align: center;
    font-size: 0.95rem;
}

.projeto .info {
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projeto .info p {
    width: 70%;
    font-size: 0.9rem;
    text-align: center;
    text-transform: none;
}

.container-video {
    position: relative;
    height: 30em;
    width: 60em;
}

.projeto .info .video {
    height: 30em;
}

.projeto .info a {
    color: #ffffff;
}

.projeto .info a:hover {
    color: #ECDFCC;
    font-size: 1.1em;

}

.navegacao{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}

.navegacao a{
    display: block;
    position: relative;
    color: #ffffff;
}

@media(max-width: 970px) {

    .projeto .info .video {
        height: 20em;
    }

    .container-video {
        position: relative;
        height: 15em;
        width: 30em;
    }


    .projeto h1 {
        font-size: 1.3rem;
    }

    .projeto .info p {
        font-size: 0.8rem;
    }
}

@media(max-width: 570px) {

    .projeto .info .video {
        height: 9em;
        width: 18em;
    }

    .container-video {
        position: relative;
        height: 9em;
        width: 18em;
    }

    .projeto h1 {
        font-size: 1.3rem;
    }

    .projeto .info p {
        width: 90%;
        font-size: 0.8rem;
    }

    .navegacao a{
        display: block;
        position: relative;
        color: #ffffff;
        font-size: 0.8rem;
    }

    .navegacao a:hover{
        display: block;
        position: relative;
        color: #ffffff;
        font-size: 0.9rem;
    }
}

@media(max-width: 370px) {

    .projeto .info {
        padding: 0.6em;
    }

    .projeto .info .video {
        height: 8em;
    }

    .projeto h1 {
        font-size: 1.3rem;
    }

    .projeto .info p {
        width: 100%;
        font-size: 0.45rem;
    }

    .navegacao a{
        display: block;
        position: relative;
        color: #ffffff;
        font-size: 0.6rem;
    }

    .navegacao a:hover{
        display: block;
        position: relative;
        color: #ffffff;
        font-size: 0.7rem;
    }
}