body{
    height: 1500px;
    padding-top: 100px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 70px;
    align-items: center;
    border-bottom: 1.3px black solid ;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 1;
}

.logo{
    height: 50px;
}

.menu ul, .redes ul{
    display: flex;
    flex-direction: row;
}

.menu li, .redes li{
    color: black;
    text-decoration: none;
}

.redes ul li{
    cursor: pointer;
    margin: 20px;
    padding: 10px;
}


a{
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    color: black;
}

a:visited{
    color: black;
}

a:active{
    color: grey;
}

.works{
    border-top: 100px;
    margin: 30px 200px;
}

.works .container-projetos {
	display: block;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 10px;
	justify-content: center;
}

.works .projeto {
	max-width: 400px;
	max-height: 250px;
    position: relative;
}

.works .projeto .informacoes-projeto {
	background-color: #040203;
	position: absolute;
	width: 100em;
	height: 100%;
	font-weight: 600;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
    max-width: 400px;
	max-height: 250px;
    top: 0;
    margin-left: 30px;
}

.works .container-projetos .projeto:hover .informacoes-projeto {
	opacity: 0.7;
	background-color: #000;
    color: white;
}