.works{
    margin: 30px 0px 10px 0px;
}

.works .container-projetos {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
    flex-direction: row;
    gap: 10px;
	justify-content: center;
}

.works .projeto img{
	width: 40em;
	height: 35em;
}

.works .projeto {
	width: 40em;
	height: 35em;
    position: relative;
}

.works .projeto .informacoes-projeto {
	background-color: #040203;
	position: absolute;
	font-weight: bold;
	font-size: 1.2rem;
	opacity: 0;
	transition: 0.3s;
	padding: 20px;
    width: 40rem;
	height: 35rem;
    top: 0;
    text-align: center;
    align-content: center;
}

.works .container-projetos .projeto:hover .informacoes-projeto, .works .container-projetos .projeto:hover {
	opacity: 0.7;
	background-color: #000;
    color: white;
}

.card-projeto:hover{
	font-size: 100%;
}

@media(max-width: 850px){
	.works .projeto img{
		width: 40em;
		height: 35em;
	}
	
	.works .projeto {
		width: 40em;
		height: 35em;
	}
	
	.works .projeto .informacoes-projeto {
		font-size: 1.2rem;
		padding: 20px;
		width: 40rem;
		height: 35rem;
	}
}